* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    color: black;
    font-family: Arial, sans-serif;
    font-weight: 300;
    font-size: 90%;
}

header {
    position: relative;
}

header h1 {
    height: 80px;
    line-height: 80px;
    margin: 0;
    padding-left: 10px;
    background: #e0e0e0;
    color: #292929;
}

header a {
    position: absolute;
    right: 0;
    top: 23px;
    padding: 10px;
    color: #006;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: -15px;
}

h2 {
    font-size: 1em;
    margin: 14.4px 0px;
    padding: 0px 10px;
    line-height: 1.8;
}

h3 {
    padding: 5px 20px;
}

ul {
    margin: 14.4px 0px;
    padding-left: 40px;
}

ul li {
    padding-right: 10px;
    line-height: 1.6;
}

#content {
    order: 2;
    width: 50%;
}

p {
    padding: 0 10px;
    line-height: 1.8;
    margin: 14.40px 0px;
}

#navigation {
    order: 1;
    background: #7cb71c;
    width: 25%;

}

#navigation li {
    list-style: none;
}

#extra {
    order: 3;
    background: #147FA9;
    width: 25%;
}

footer {
    margin: 14.4px 0px;
}

footer p {
    background: #42444e;
    color: #fff;
    padding: 20px 10px;
}